* {
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(to right, #7f53ac 0, #657ced 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.App-header {
	color: white;
	font-size: clamp(1rem, 2vw, 2rem);
}

.todo-list {
	width: clamp(300px, 60vw, 1050px);
}

/* ToDo Item Styles */
.list-item {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	padding: 1.5rem;
	border: 0.05rem solid white;
	width: 100%;
	color: white;
	border-radius: 0.5rem;
}

.list-item label {
	cursor: pointer;
	display: flex;
	font-size: clamp(1rem, 2vw, 1.5rem);
	font-weight: bold;
}

.list-item span {
	width: 1.5rem;
	height: 1.5rem;
	border: 0.05rem solid white;
	margin-right: 1rem;
	align-self: center;
	cursor: pointer;
}

.complete {
	background: rgb(111, 205, 111);
}

.complete-text {
	text-decoration: line-through;
	opacity: 0.5;
}

.modal {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.5);
	inset: 0;
	z-index: 999;
	opacity: 1;
	/* visibility: hidden; */
	transition: all 0.3s;
}

.add-todo-container {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 3rem;
	background: white;
	border-radius: .5rem;
	box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	color: black;
	font-weight: bold;
	cursor: pointer;
	margin: 1rem;
	padding: .25rem;
}
